In [15]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=500,alpha=0.1)
mlp.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.1, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [1]:
import pandas as pd
file=pd.read_csv("tennis.csv",header=None)

In [5]:
newfile=file.drop([0])

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
StandardScaler(copy=True, with_mean=True, with_std=True)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [6]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
for i in range(5):
    newfile[i] = enc.fit_transform(newfile[i])
newfile

    0  1  2  3  4
1   2  1  0  0  0
2   2  1  0  1  0
3   0  1  0  0  1
4   1  2  0  0  1
5   1  0  1  0  1
6   1  0  1  1  0
7   0  0  1  1  1
8   2  2  0  0  0
9   2  0  1  0  1
10  1  2  1  0  1
11  2  2  1  1  1
12  0  2  0  1  1
13  0  1  1  0  1
14  1  2  0  1  0

In [8]:
X=newfile.drop(4,axis=1)

In [16]:
predictions = mlp.predict(X_test)

In [17]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))

[[0 0]
 [1 3]]

In [18]:
predictions

array([1, 1, 0, 1])

In [9]:
y=newfile[4]

In [10]:
y

1     0
2     0
3     1
4     1
5     1
6     0
7     1
8     0
9     1
10    1
11    1
12    1
13    1
14    0
Name: 4, dtype: int64

In [11]:
X

    0  1  2  3
1   2  1  0  0
2   2  1  0  1
3   0  1  0  0
4   1  2  0  0
5   1  0  1  0
6   1  0  1  1
7   0  0  1  1
8   2  2  0  0
9   2  0  1  0
10  1  2  1  0
11  2  2  1  1
12  0  2  0  1
13  0  1  1  0
14  1  2  0  1

In [20]:
y_test

10    1
13    1
11    1
12    1
Name: 4, dtype: int64